[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
defusedxml = ">=0.5.0"
pyyaml = ">=4.2b1"
pffocus = {editable = true,path = "."}

[dev-packages]
coverage = "*"
pylint = "*"

[requires]
python_version = "3"
